$breakpoints: (
  xs: 575px,
  sm: 767px,
  md: 992px,
  lg: 1199px,
  xl: 1200px
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if $breakpoint == 'xl' {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
